
 .background{
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    /* background: radial-gradient();
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; */
    /* background-image: url("abstract-textured-backgound.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    background: #d2cbc1;
    overflow: hidden;
    
}


.main_box{
    border: none;
    height: 50%;
    width: 40%;
    align-self: center; 
    /* margin: auto;  */
    vertical-align: middle; 
    border-radius: 10px;
    background: linear-gradient(to right, #222217,#4d5038, #858666);
    /* block-size: auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

.heading{
    text-align: center;
    margin: 8px 0px 2px;
    border-bottom: 2px solid grey;
    color:rgb(255, 255, 255);
    /* background-color: aquamarine; */
}
.form{
    /* background-color: aquamarine; */
    display: flex;
    width:100%;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    align-content: center;
    height: 100%;
    border-bottom: 2px solid grey;
    /* margin-left: 10px; */
    color: white;
    padding-top: 2%;
}

#textFields{
    /* border: none; */
    border: 1px solid black;
    border-radius: 20px;
    background-color: #d2cbc1;
    padding: 8px;
    color:black;
    width: 60%;
    
}

.loginButton{
    /* background-color: aquamarine; */
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding-top: 5%;

}

.buttonStyle{
    border: 2px solid black;
    padding: 14px 50px;
    /* height: 4px;
    width: 4px; */
    border-radius: 20px;
    background: #d2cbc1;
    block-size: auto;;
    font-style: normal;
    color:#222217;
    transition: all .15s ease;
}
.buttonStyle:hover{
    background:#222217;
    color: #d2cbc1;
}

#registerLink{
    padding-top: 4%;
}