body{
    background: black;
    color: white;
    overflow: hidden;
    
}

.full_bg{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1)), url("../images/thumbnailCollage.png");
    background-size:cover;
    background-position: center;
    padding: 10px, 8%;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.logo{
    height: 7vh;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 7%;
    cursor: pointer;
}

.search{
    border: 2px solid grey ;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    color: white;
    padding: 0%;
}



nav{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px,  4%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}



nav button {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 40%;
    font-size: large;
    border: 2px solid gray;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    flex-wrap: nowrap;
}

nav div{
    margin-right: 7%;
    height: 60%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.signIn{
    background-color: green;
    color:white;
    width: 30%;
    border: 0;
    border-radius: 8px;
}


.holder{
    height: 80%;
    width: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-color: rgba(57, 57, 57,0) black ; 
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.listItem{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    height: 280px;
    width: 180px;
    border: 2px solid green;
    margin: 20px;
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    text-wrap:balance;
    text-decoration: none;
    color: lime;
    text-shadow: 0.5px solid black;
    transition: 0.3s height, 0.3s width, 0.3s margin, 0.3s border, 0.3s color;
}

.listImage{
    position: absolute;
    align-self: center;
    height: 80%;
    width: 80%;
    filter:grayscale(80%) blur(3px);
    transition: 0.3s height, 0.3s width, 0.3s margin, 0.3s filter;

}

.listItem:hover{
    height: 300px;
    width: 200px;
    margin: 5px;
    border: 2px solid white;
    color:azure;
}

.listItem:hover .listImage{
    filter: none;
}

.listItem h2{
    position: absolute;
    bottom: 0%;
    width: 90%;
}