
 .background{
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    /* background: #d2cbc1; */
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1)), url("../images/thumbnailCollage.png");
    background-size:cover;
    background-position: center;
    overflow: hidden;
    
}


.main_box{
    border: none;
    height: 62%;
    width: 40%;
    align-self: center; 
    /* margin: auto;  */
    vertical-align: middle; 
    border-radius: 10px;
    /* background: linear-gradient(to right, #222217,#4d5038, #858666); */
    background: linear-gradient(to bottom, rgb(6, 21, 86) 0%, black 40%);
    /* block-size: auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

.heading{
    text-align: center;
    margin: 8px 0px 2px;
    border-bottom: 2px solid lime;
    color:rgb(255, 255, 255);
    font-family: sans-serif;
    /* background-color: aquamarine; */
}
.form{
    /* background-color: aquamarine; */
    display: flex;
    width:100%;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    align-content: center;
    height: 100%;
    border-bottom: 2px solid lime;
    /* margin-left: 10px; */
    color: white;
    padding-top: 2%;
}

#textFields{
    /* border: none; */
    border: 1px solid black;
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 8px;
    color:black;
    width: 60%;
    
}

.loginButton{
    /* background-color: aquamarine; */
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding-top: 5%;

}

.buttonStyle{
    border: 2px solid black;
    padding: 14px 50px;
    /* height: 4px;
    width: 4px; */
    border-radius: 20px;
    background: whitesmoke;
    block-size: auto;;
    font-style: normal;
    color:#222217;
    transition: all .15s ease;
}
.buttonStyle:hover{
    background:limegreen;
    /* color: #d2cbc1; */
}

#signInLink{
    padding-top: 4%;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: lime;
}