
 .background{
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    /* background: #d2cbc1; */
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1)), url("../images/thumbnailCollage.png");
    background-size:cover;
    background-position: center;
    overflow: hidden;
    
}


.main_box{
    border: none;
    height: 70%;
    width: 60%;
    align-self: center; 
    /* margin: auto;  */
    vertical-align: middle; 
    border-radius: 10px;
    /* background: linear-gradient(to right, #222217,#4d5038, #858666); */
    background: linear-gradient(to bottom, rgb(6, 21, 86) 0%, black 40%);
    /* block-size: auto; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}

.heading{
    text-align: center;
    margin: 8px 0px 2px;
    border-bottom: 2px solid lime;
    color:rgb(255, 255, 255);
    font-family: sans-serif;
    height: 20%;
    /* background-color: aquamarine; */
}

#userInfo{
    height: 75%;
    width: 100%;
    color: white;
    
}


.userInfo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    height: 75%;
    width: 100%;
}
    
.div1 {
    grid-column: span 2 / span 2;
    color: lime;
    text-align: center;
    padding: 5%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    color: lime;
    text-align: center;
    padding: 5%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.div3 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
    color: lime;
    text-align: center;
    padding: 5%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.div1F {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 1;
    color: black;
    background-color: white;
    border-radius: 16px;
    border: none;
    margin: 4%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2F {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
    color: black;
    background-color: white;
    border-radius: 16px;
    border: none;
    margin: 4%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div3F {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
    color: black;
    background-color: white;
    border-radius: 16px;
    border: none;
    margin: 4%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.buttonHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 20%;
    margin: 4%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.dialogBox{
    height: 35vh;
    width: 40vw;
    border: 2px solid lime;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(6, 21, 86) 0%, black 40%);
    padding: none;
    margin: none;
}

.dialogBody{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: none;
    padding: none;
}

.dialogBody p{
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;

}

.dialogBody h4{
    margin: 2%;
    color: red;
    text-align: center;
    font-weight: bolder;
}

.dlgButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
    margin-top: 4%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it is above other elements */
}

.greenButton{
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 40%;
    font-size: medium;
    border: 2px solid whitesmoke;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    flex-wrap: nowrap;
    font-family: sans-serif;
    transition: 0.2s background-color, 0.2s color;
}

.greenButton:hover{
    background-color: limegreen;
    color: black;
}


.redButton{
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 40%;
    font-size: medium;
    border: 2px solid whitesmoke;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    flex-wrap: nowrap;
    font-family: sans-serif;
    transition: 0.2s background-color, 0.2s color;
}

.redButton:hover{
    background-color: red;
    color: whitesmoke;
}

.logo{
    height: 7vh;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 7%;
    cursor: pointer;
}

nav{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px,  4%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}



nav button {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 40%;
    font-size: large;
    border: 2px solid gray;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    flex-wrap: nowrap;
}

nav div{
    margin-right: 7%;
    height: 60%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.signIn{
    background-color: green;
    color:white;
    width: 30%;
    border: 0;
    border-radius: 8px;
}