@media screen {
    *{
        zoom: 95%;
    }
}


body{
    background: black;
    color: white;
    overflow-x: hidden;
    
}
    .full_bg{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,1)), url("../images/thumbnailCollage.png");
    background-size:cover;
    background-position: center;
    padding: 10px, 8%;
    position: relative;
    justify-content: center;
}

.logo{
    height: 7vh;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 7%;
    cursor: pointer;
}

nav{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px,  4%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}



nav button {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 40%;
    font-size: large;
    border: 2px solid gray;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    flex-wrap: nowrap;
}

nav div{
    margin-right: 7%;
    height: 60%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.signIn{
    background-color: green;
    color:white;
    width: 30%;
    border: 0;
    border-radius: 8px;
}

.headBox{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 4px ;
    margin-bottom: 100px;
}
.head{
    width: 50%;
    height: 30%;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 72px;
    font-weight: 800;
    margin: 1px;
}

.h2{
    margin: 4px; 
    font-size: 32px; 
    font-weight: 400;
    font-family: sans-serif;
}


.emailBox{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.emailBox input{
    background: rgba(0,0,0,0.7);
    width: 70%;
    height: 140%;
    font-size: 24px;
    color: gainsboro;
    border:0;
    border-radius: 8px;
    padding-left: 20px;
}
.emailBox button{
    width: 25%;
    height: 150%;
    font-size: 24px;
    margin-left: 10px;
    align-items: center;
    text-align: center;
}

.material-icons{
    vertical-align: middle;
}

.bodyOutline{
    width: 100%;
    background: linear-gradient(to right,rgb(30, 15, 21), rgb(0, 255, 55),rgb(30, 15, 21));
    height: 300px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    padding-top: 1rem;
    padding-top: 3px;
}

.bodyContent{
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom, rgb(21, 30, 71) 0%, black 20%);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    padding-top: 2rem;
    
    /* flex-direction: column; */
}

.listHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 100px, 200px;
}

.trending{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
}

.trendingList{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-color: rgb(57, 57, 57) black ;
}



.listItem{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    height: 280px;
    width: 180px;
    border: 2px solid green;
    margin: 20px;
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    text-wrap:balance;
    text-decoration: none;
    color: lime;
    text-shadow: 0.5px solid black;
    transition: 0.3s height, 0.3s width, 0.3s margin, 0.3s border, 0.3s color;
}

.listImage{
    position: absolute;
    align-self: center;
    height: 80%;
    width: 80%;
    filter:grayscale(80%) blur(3px);
    transition: 0.3s height, 0.3s width, 0.3s margin, 0.3s filter;

}

.listItem:hover{
    height: 400px;
    width: 300px;
    margin: 5px;
    border: 2px solid white;
    color:azure;
}

.listItem:hover .listImage{
    filter: none;
}



.listItem h2{
    position: absolute;
    bottom: 0%;
    width: 90%;
}
.search{
    border: 2px solid grey ;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    color: white;
    padding: 0%;
}

.footer{
    border-top: 2px solid green;
    background: linear-gradient(rgb(69, 69, 69) ,black 75%);
    align-content: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#creatorLogo{
    border: 1px solid black;
    border-radius: 100%;
    height: 90px;
}

.greenButton{
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    font-size: large;
    border: 2px solid whitesmoke;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    flex-wrap: nowrap;
    font-family: sans-serif;
    transition: 0.2s background-color, 0.2s color;
    
}

.greenButton:hover{
    background-color: limegreen;
    color: black;
}
.moreButtonHolder{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
}